* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    color: #f2f2f2;
}

body{
    padding:0;
    margin:0;
    background: linear-gradient(#65ccb8, #57ba98);
    background-attachment: fixed;
}

.top-bar{
    z-index: 2;
    width: 100%;
    background-color: #5CC1A5;
    position: fixed;

}

.logo-div{
    width: 160px;
    height: 50px;

}

.logo-div:hover{
    cursor: pointer;
    background-color: #3b945e;
    transition: .2s;

}

.logo-div a{
    width: 100%;
    margin-left:12px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    vertical-align: middle;
    color: #f2f2f2;
    text-decoration: none;
    line-height:50px;
    vertical-align:middle;
    white-space: nowrap;
}

.main{
    display: flex;
    margin:0;
    padding:0;
    width: 100%;
    height: 500px;
    background: none;
    align-items: center;
    align-content: center;
    justify-content: center;
    z-index:1;
    flex-direction: column;

}

.main-description{
    width:40%;
    height: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    width: 500px;
}

.main-description span{
    width:100%;
    font-size: 46px;
    color: #f2f2f2;
    text-align: center;
    padding-bottom:40px;

}

.input-div{
    width: 800px;
    height: 50px;
    display: flex;
    align-items: center;
    -webkit-border-radius: 10px;
    background-color: rgba(255, 255, 255, .2);
}

.input-div:hover{
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.2);
    transition: .4s;
}

form {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display:inline-flex;
    width: 100%;
  }

.input-div input {
    margin: auto;
    padding-left: 20px;
    padding-left: 20px;
    width: 100%;
    height: 100%;
    border: none;
    box-sizing: border-box;
    outline: none;
    background: transparent;
    justify-content: center;
    line-height: 100%;
    font-size: 20px;
    color: #f2f2f2;
}

.input-div ::-webkit-input-placeholder {
    color: #f2f2f2;
}

button {
    margin-right: 10px;
    width: 35px;
    height: 35px;
    border: none;
    background-color: transparent;
    -webkit-border-radius: 100%;
    cursor: pointer;
  }
button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #f2f2f2;
  }

button:hover {
    background: #57ba98;
    transition: .3s;
}


.trend-div {
    height: 400px;
    width: 100%;
    background-color: #3b945e;
    display: flex;
    margin: 0;
    padding: 0;
    background: none;
    align-items: center;
    align-content: center;
    justify-content: center;
    z-index: 1;
    flex-direction: column;
}

.trend-block {
    outline: 1px solid;
    outline-color: #80D1BC;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,.2);
    -webkit-border-radius: 10px;
    animation: div-anim 2s ease-in-out;
}


@keyframes div-anim {
    0% {
        width: 5px;
        overflow-y: hidden;

    }
    50% {
        width: 300px;

    }
    100% {
        overflow-y: scroll;

    }

}


.trend-block span {
    width: 100%;
    margin: auto;
    font-size: 25px;
    color: #f2f2f2;
    text-align: center;
    padding-bottom: 40px;
    opacity: 0;
    animation: text-anim .3s forwards;
    animation-delay: 1s;
}

@keyframes text-anim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}